html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: $mobile-medium-width;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: $baseFontSize;
  font-weight: bold;
  line-height: 16px;

  background: $gray;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
